.parts__panel {
    grid-row-start: 2;
    grid-row-end: 3;

    background: #403f3f;
    color: white;
}

.parts__panel__container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px;
}

.parts__container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    overflow-x: auto;
    gap: 20px;
    width: 80rem;
}

.part__container {
    background-color: #fff;
    border-radius: 10px;
    cursor: pointer;
    padding: 20px;
}

.part__image {
    width: 12rem;
}