.working__area {
    width: 100%;
    height: 100%;
}

.drone__container {
    position: relative;
    margin: 0 auto;
    width: 40rem;
    height: 100%;
    z-index: 1;
}

.drone__image-container {
    width: 100%;
    height: auto;
}

.propeller {
    position: absolute;
    width: 400px; /* Adjust size */
    height: 400px; /* Adjust size */
    background-image: url('../../assets/images/3 - motor 7 inches 2807 1300kv+7x4x3.PNG'); /* Use your propeller image */
    background-size: cover;
    background-position: center;
}

/* Position each propeller */
.top-left {
    top: 0;
    left: 0;
    transform: translate(-30%, -20%);
}

.top-right {
    top: 0;
    right: 0;
    transform: translate(35%, -25%);
}

.bottom-left {
    bottom: 0;
    left: 0;
    transform: translate(-35%, 20%);
}

.bottom-right {
    bottom: 0;
    right: 0;
    transform: translate(35%, 25%);
}

.battery {
    position: absolute;
    width: 340px; /* Adjust size */
    height: 420px; /* Adjust size */
    background-image: url('../../assets/images/5 - battery 6s2p.PNG'); /* Replace with battery image */
    background-size: cover;
    background-position: center;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

.controller {
    position: absolute;
    width: 140px; /* Adjust size */
    height: 120px; /* Adjust size */
    background-image: url('../../assets/images/7 - controller.PNG'); /* Replace with battery image */
    background-size: cover;
    background-position: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}

.video__antenna {
    position: absolute;
    width: 440px; /* Adjust size */
    height: 320px; /* Adjust size */
    background-image: url('../../assets/images/9 -video antenna.PNG'); /* Replace with battery image */
    background-size: cover;
    background-position: center;
    top: -4%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1
}